/* CSS Document */


/* Bovenin de pagina zet ik in het algemeen de margin uit zodat ik deze later zelf kan toevoegen aan specifieke elementen als dit nodig is */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}


/* Ik probeer de fonts op te roepen van de site van bakker bart, als dit niet lukt worden er alternatieven gebruikt */

body {
    font-family: 'Bree Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
}


/* De header staat in een grid zodat elk gedeelte van de content mooi ingedeeld kan worden en goed kan schalen */

header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 7em;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

header button {
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 2em;
    border: none;
    background: transparent;
    justify-self: center;
    align-self: center;
}


/* Hier regel ik de vormgeving van het nav/hamburger menu. Ook geef ik hier een simpele animatie mee aan het menu als deze in beeld komt d.m.v. "transition". Ook geef ik het menu een z-index zodat deze over de normale content heen komt te staan. */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #F5F5F5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4em;
    /* Bron voor het genereren van de schaduw: https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.sidenav a {
    padding: 0.5em 0.5em 0.5em 1em;
    text-decoration: none;
    font-size: 1.4em;
    color: black;
    display: block;
    transition: 0.3s;
    border-top: 0.01em solid lightgray;
}

.sidenav a:last-of-type {
    border-bottom: 0.01em solid lightgray;
}

.sidenav>a:first-of-type {
    border-top: none;
}

.sidenav a:hover {
    color: darkgray;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1em;
    font-size: 2.2em;
}

@media screen and (max-height: 30em) {
    .sidenav {
        padding-top: 1.2em;
    }
    .sidenav a {
        font-size: 1.4em;
    }
}


/* Ten slotte in de header nog het logo en het winkelwagen icoontje */

header img:nth-of-type(1) {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
    max-width: 15em;
}

header img:nth-of-type(2) {
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
    max-width: 12em;
}


/* Hier zorg ik dat de zoekbalk er goed uitziet en goed gepositioneerd is */

input:first-of-type {
    width: 100%;
    height: 3.5em;
    display: block;
    margin: 0 auto;
    max-width: 30em;
    padding: 1em;
}


/* Hier regel ik alles wat met de heroimage te maken heeft. De afbeelding de h1 en de buttons */

.herocontent {
    padding-top: 5em;
    color: white;
    font-size: 1.25em;
    text-align: center;
    background-image: url('../images/headerbg.png');
    margin-top: 1em;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
}

.herocontent h1 {
    margin: 1em 1em 1em 1em;
    text-shadow: 0.1em 0.1em 0.12em rgba(2, 0, 0, 0.5);
}

.herocontent button {
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0.1em 0.1em 0.3em 0.1em rgba(2, 0, 0, 0.5);
    background-color: #44c767;
    border-radius: 0.5em;
    border: 0.05em solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 0.75em;
    padding: 4em 0.9em;
    text-shadow: 0.1em 0.14em 0.14em rgba(1, 0, 0, 0.5);
    width: 9em;
    margin: 0.5em;
}

.herocontent button:hover {
    background-color: #5cbf2a;
}

.herocontent button:active {
    position: relative;
    top: 0.1em;
}


/* Dit regelt het paarse content blok met de uitleg over bestellen. Ook dit staat in een grid voor het schalen */

.besteluitleg {
    background-color: #cb007c;
    color: white;
    text-align: center;
}

.besteluitleg p {
    padding-bottom: 5em;
}

.bestelgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 2em;
}


/* Ik gebruik een media query om te zorgen dat het grid in 1 of 3 kolommen staat, dit zorgt voor een goede overgang tussen schermgroottes */

@media (min-width: 25em) {
    .bestelgrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 40em) {
    .bestelgrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

h2 {
    padding: 1em;
    font-size: 2em;
}

h3 {
    padding-top: 1em;
}


/* Hier zorg ik dat de afbeelding van de lunchdeal goed gepositioneerd staat en een max width heeft zodat hij er altijd goed uitziet */

.lunchdeal {
    padding: 2em 1em 0 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 30em;
}


/* Hier regel ik het grid die de content cards verplaatst en schaalt. Ook hier gebruik ik weer een media query om ervoor te zorgen dat er 1 of 3 kolommen zijn */

.aanbodgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em;
}

@media (min-width: 300px) {
    .aanbodgrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 900px) {
    .aanbodgrid {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* Dit is vergelijkbaar met het vorige grid, alleen gebruik ik hier 1 en 2 kolommen i.p.v. 1 en 3  */

.acties {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em;
}

@media (min-width: 300px) {
    .acties {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 900px) {
    .acties {
        grid-template-columns: repeat(2, 1fr);
    }
}

.aanbod article {
    padding-top: 2em;
    width: 90%;
    height: 15em;
    margin: auto;
    margin-top: 4em;
    background-size: cover;
    background-position: center;
}

.acties article {
    padding-top: 2em;
    width: 90%;
    height: 15em;
    margin: auto;
    margin-top: 4em;
    background-size: cover;
    background-position: center;
}


/* Hier zet ik een background image op alle articles die ik gebruik voor de content cards  */

.lunch {
    background-image: url('../images/1lunch.jpg');
}

.traktaties {
    background-image: url('../images/2traktaties.jpg');
}

.traktaties {
    background-image: url('../images/2traktaties.jpg');
}

.belegdebroodjes {
    background-image: url('../images/3belegdebroodjes.jpg');
}

.zoetelekkernijen {
    background-image: url('../images/4zoetelekkernijen.jpg');
}

.hartigesnacks {
    background-image: url('../images/5hartigesnacks.jpg');
}

.brood {
    background-image: url('../images/6brood.jpg');
}

.aanbiedingen {
    background-image: url('../images/aanbiedingen.jpg');
}

.groepslunch {
    background-image: url('../images/groepslunch.jpg');
}


/* Hier regel ik de tekst en de buttons die je ziet op de content cards  */

.aanbod h4 {
    padding: 6em 0em 1.5em 0.5em;
    color: white;
    font-size: 1.5em;
    text-shadow: 0.15em 0.15em 0.15em rgba(2, 0, 0, 0.5);
}

.acties h4 {
    padding: 6em 0em 1.5em 0.5em;
    color: white;
    font-size: 1.5em;
    text-shadow: 0.15em 0.15em 0.15em rgba(2, 0, 0, 0.5);
}

.aanbod button {
    background-color: #44c767;
    border-radius: 0.3em;
    border: 0.05em solid #18ab29;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1em;
    padding: 0.3em 0.5em;
    text-decoration: none;
    text-shadow: 0 0.05em 0 #2f6627;
    margin-left: 1em;
}

.aanbod button:hover {
    background-color: #5cbf2a;
}

.aanbod article {
    max-width: 25em;
}

.acties button {
    background-color: #44c767;
    left: 1em;
    border-radius: 0.3em;
    border: 0.05em solid #18ab29;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1em;
    padding: 0.3em 0.5em;
    text-decoration: none;
    text-shadow: 0 0.05em 0 #2f6627;
    margin-left: 1em;
}

.acties button:hover {
    background-color: #5cbf2a;
}

.acties article {
    max-width: 30em;
}


/* Ten slotte komt de footer waar ik alles in lists heb staan. Ik heb ervoor gezorgd dat alle list items tabbaar zijn omdat dit normale gesproken linkjes zijn  */

footer {
    background: #ede9e8;
    margin-top: 5em;
    padding: 2em 5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 2em;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li {
    font-size: 1em;
    line-height: 1.5em;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

h5 {
    font-size: 1.2em;
    padding-bottom: 0.5em;
}

footer input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: #ede9e8;
    font-size: 0.9em;
    width: 1em;
    margin-top: 1em;
    padding: 0em;
    text-align: center;
    font-weight: 400;
    padding: 0em;
}

footer button {
    background-color: #44c767;
    border-radius: 0.3em;
    border: 0.05em solid #18ab29;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1em;
    padding: 0.4em 0.6em;
    text-decoration: none;
    text-shadow: 0 0.05em 0 #2f6627;
    margin-top: 1em;
}

footer button:hover {
    background-color: #5cbf2a;
}


/********************************/


/******* LUNCHDEAL PAGINA *******/


/********************************/


/* Hier regel ik de banner, vergelijkbaar met de hero image van de homepagina */

.lunchdealbanner {
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding-top: 3em;
    background-image: url('../images/lunchdealbannersmall.jpg');
    width: 100%;
    margin: auto;
    margin-top: 0.5em;
    height: 8em;
    background-size: cover;
    background-position: center;
}

.lunchdealbanner h1 {
    text-shadow: 0.07em 0.07em 0.1em rgba(2, 0, 0, 0.5);
}


/* Ik gebruik een aparte class voor deze tekst, omdat ik anders alle bodytekst over de hele site aanpas als ik simpelweg een <p> zou gebruiken  */

.bodytekst {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding: 2em 0;
    margin: auto;
    max-width: 35em;
}


/* Dit is een apart content blok met een lijstje over hoe de lunchdeal werkt, een soort stappenplan */

.lunchdealuitleg {
    background-color: #ede9e8;
    max-width: 50em;
    margin: auto;
    padding: 0 3em 3em 3em;
}

.lunchdealuitleg h2 {
    text-align: center;
    font-size: 1.5em;
}

.lunchdealuitleg ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lunchdealuitleg img {
    width: 8%;
    display: inline-block;
    padding-right: 1em;
}

.lunchdealuitleg li {
    padding-left: 1em;
    text-align: left;
    display: inline;
}


/* Ten slotte staan ook hier weer een soort content cards die waar ik een background image zet op alle articles en vervolgens de cards in een grid zet om ze responsive te maken */

.paninideal {
    background-image: url('../images/panini_deal.jpg');
}

.bartsdeal {
    background-image: url('../images/Barts_deal.jpg');
}

.tostideal {
    background-image: url('../images/tosti_deal.jpg');
}

.deals {
    width: 100%;
}

.deals article {
    padding-top: 2em;
    min-width: 19em;
    max-width: 40em;
    height: 15em;
    margin: auto;
    margin-top: 4em;
    background-size: cover;
    background-position: center;
}

.dealsgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em;
}

@media (min-width: 300px) {
    .dealsgrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 900px) {
    .dealsgrid {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* En hier regel ik weer de tekst en de buttons van de content cards */

.deals button {
    background-color: #44c767;
    border-radius: 0.2em;
    border: 0.05em solid #18ab29;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1em;
    padding: 0.9em 0.9em;
    text-decoration: none;
    text-shadow: 0 0.05em 0 #2f6627;
    margin-left: 7em;
}

.deals button:hover {
    background-color: #5cbf2a;
}

.deals article {
    max-width: 25em;
}

.deals h4 {
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding: 5em 0 0.2em 0;
    text-shadow: 0.1em 0.1em 0.15em rgba(2, 0, 0, 0.5);
}
